<div class="groups">
  @for (stepGroup of stepGroups$ | async; track stepGroup.completedOn) {
    <div class="group" [routerLink]="stepGroup.completedOn">
      <div class="group-title">{{ stepGroup.completedOn }}</div>
      <div class="step-list">
        @for (step of stepGroup.steps; track step.id) {
          <sg-label [labelData]="getLabelData(step)"></sg-label>
        } @empty {
          <li>There are no steps.</li>
        }
      </div>
    </div>
  } @empty {
    <li>There are no groups.</li>
  }
</div>
