.header-form {
  background-color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.step-list {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.step {
  display: flex;
  gap: 1rem;
  border: 1px solid black;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.group {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  gap: 0.5rem;
}

.group-title {
  font-size: 1.2rem;
  text-decoration: underline;
}
