<div class="group">
  <div class="group-title">{{ projectName === 'null'? 'No project': projectName }}</div>
  <div class="grid">

    <div class="grid-header">
      <div>Name</div>
      <div>Description</div>
      <div>Project</div>
      <div></div>
    </div>

    @for (goal of goals$ | async; track goal.id) {
      <div class="grid-row">
        <div>{{ goal.name }}</div>
        <div>{{ goal.description }}</div>
        <div>{{ goal.project?.name || '-'}}</div>
        <button>R</button>
      </div>
    } @empty {
      <li>There are no items.</li>
    }
  </div>
</div>
