.group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.group-title {
  font-size: 1.2rem;
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: 10rem 1fr 10rem 5rem 2rem;
  border: 0.1rem solid #ccc;
  min-width: 50rem;
}

.grid-header, .grid-row {
  display: contents;
}

.grid-header > div {
  background: #444;
  color: #eee;
  font-weight: bold;
  padding: 0.6rem 0.8rem;
}

.grid-row > div {
  padding: 0.4rem 0.8rem;
}

.grid-row {
  &:nth-child(even) > div {
    background-color: #eee;
  }

  &:nth-child(odd) > div {
    background-color: #fff;
  }
}
