<div class="group">
  @let project = project$ | async;
  <div class="group-title">
    @let closed = isClosed(project);
    {{ projectName === 'null' ? 'No project' : projectName }} | start: {{ project?.startDate }} |
    end: {{ project?.endDate }} | status: {{ project?.status }}
    @if (project !== null) {
      <button (click)="toggleProject(project.id)">{{ closed ? 'O' : 'C' }}</button>
    }
  </div>
  <div class="grid">

    <div class="grid-header">
      <div>Name</div>
      <div>Description</div>
      <div>Start</div>
      <div>End</div>
      <div>Steps</div>
      <div>Status</div>
      <div></div>
    </div>

    @for (goal of goals$ | async; track goal.id) {
      @let closed = isClosed(goal);
      <div class="grid-row" [class.closed]="closed">
        <div>{{ goal.name }}</div>
        <div>{{ goal.description }}</div>
        <div>{{ goal.startDate || '-' }}</div>
        <div>{{ goal.endDate || '-' }}</div>
        <div>{{ goal.stepCount }}</div>
        <div>{{ goal.status }}</div>
        @if (goal.stepCount === 0) {
          <button (click)="delete(goal.id)">D</button>
        } @else {
          <button (click)="toggle(goal.id)">{{ closed ? 'O' : 'C' }}</button>
        }
      </div>
    } @empty {
      <li>There are no items.</li>
    }
  </div>
</div>
