<div class="groups">
  @for (categoryGroup of categoryGroups$ | async; track categoryGroup.area.id) {
    <div class="group" [style.background]="getTransparentColor(categoryGroup)" [style.border-color]="getColor(categoryGroup)" [routerLink]="categoryGroup.area.name">
      <div class="group-title">{{ categoryGroup.area.name }}</div>
      <div>
        @for (category of categoryGroup.categories; track category.id) {
          <div class="category">
            <div>NAME: {{ category.name }}</div>
            <div>DESCRIPTION: {{ category.description }}</div>
          </div>
        } @empty {
          <li>There are no categories.</li>
        }
      </div>
    </div>
  } @empty {
    <li>There are no groups.</li>
  }
</div>
