<button class="select" [cdkMenuTriggerFor]="menu">
  {{ selectedLabel }}
</button>

<ng-template #menu>
  <div class="menu" cdkMenu>
    @for (item of items; track item.name) {
      @if ('id' in item) {
        <button class="menu-item" cdkMenuItem (click)="selectOption(item)">
          {{ item.name }}
        </button>
      } @else {
        <button class="menu-item" cdkMenuItem [cdkMenuTriggerFor]="group" [style.background]="getTransparentColor(item.color)">
          {{ item.name }} <span>&#10148;</span>
        </button>
        <ng-template #group>
          <div class="menu" cdkMenu>
            @for (option of item.options; track option.name) {
              <button class="menu-item" cdkMenuItem (click)="selectOption(option)">
                {{ option.name }}
              </button>
            }
          </div>
        </ng-template>
      }
    }
  </div>
</ng-template>
