<div class="group">
  <div class="group-title">{{ date }}</div>
  <div>
    @for (step of steps$ | async; track step.id) {
      <div class="step">
        <div>{{ step.id }}</div>
        <div>{{ step.description }}</div>
        <div>GOAL: {{ step.goal?.name }}</div>
        <div>PROJECT: {{ step.goal?.project?.name }}</div>
        <div>CATEGORY: {{ step.category.name }}</div>
        <div>AREA: {{ step.category.area.name }}</div>
        <div>completedOn: {{ step.completedOn }}</div>
        <div>updatedOn: {{ step.updatedOn }}</div>
        <div>DEL: {{ step.isDeleted }}</div>
        <button (click)="toggle(step.id)">delete</button>
      </div>
    } @empty {
      <li>There are no steps.</li>
    }
  </div>
</div>
