<div class="container">
  <router-outlet></router-outlet>
  @if (categoryForm) {
    <div class="foot-form" [formGroup]="categoryForm">
      <div class="fields">
        <div class="field-row">
          <div class="field">
            <fa-icon class="center" [icon]="categoryIcon" />
            <input [formControl]="categoryForm.controls.name"/>
          </div>
          <div class="field">
            <fa-icon class="center" [icon]="areaIcon" />
            <sg-select [formControl]="categoryForm.controls.areaId" [items]="areaOptions"></sg-select>
          </div>
        </div>
        <div class="field-row">
          <div class="field textarea-row">
            <fa-icon class="start" [icon]="descriptionIcon" />
            <textarea [formControl]="categoryForm.controls.description"></textarea>
          </div>
        </div>
      </div>

      <div class="fields">
        @if (categoryForm.controls.area) {
          @let areaForm = categoryForm.controls.area;
          <div class="field-row" [formGroup]="areaForm">
            <div class="field">
              <fa-icon class="center" [icon]="colorIcon" />
              <input type="color" [formControl]="areaForm.controls.color"/>
            </div>
            <div class="field">
              <fa-icon class="center" [icon]="areaIcon" />
              <input [formControl]="areaForm.controls.name"/>
            </div>
          </div>
          <div class="field-row">
            <div class="field textarea-row">
              <fa-icon class="start" [icon]="descriptionIcon" />
              <textarea [formControl]="areaForm.controls.description"></textarea>
            </div>
          </div>
        }
      </div>

      <div class="buttons">
        <button type="button" (click)="createCategory()" [disabled]="categoryForm.invalid">
          <sg-submit-button></sg-submit-button>
        </button>
      </div>
    </div>
  }
</div>
