<div class="groups">
  @for (categoryGroup of categoryGroups$ | async; track categoryGroup.area.id) {
    <div class="group"
         [style.background]="getTransparentColor(categoryGroup)"
         [style.border-color]="getColor(categoryGroup)"
         [routerLink]="categoryGroup.area.name" [queryParamsHandling]="'preserve'">
      <div class="group-title">{{ categoryGroup.area.name }}</div>
      <div class="category-list">
        @for (category of categoryGroup.categories; track category.id) {
          <sg-label [labelData]="getLabelData(category)"></sg-label>
        } @empty {
          <li>There are no categories.</li>
        }
      </div>
    </div>
  } @empty {
    <li>There are no groups.</li>
  }
</div>
