<div class="container">
  <div class="control-panel">
    <div class="tab" routerLink="step" queryParamsHandling="preserve">Step</div>
    <div class="tab" routerLink="goal" queryParamsHandling="preserve">Goal</div>
    <div class="tab" routerLink="category" queryParamsHandling="preserve">Category</div>
    <select [formControl]="stepParamControl">
      <option [ngValue]="stepParam.all">All</option>
      <option [ngValue]="stepParam.active">Active</option>
      <option [ngValue]="stepParam.deleted">Deleted</option>
    </select>
  </div>
  <div class="main-content">
    <router-outlet/>
  </div>
</div>
