<div class="container">
  <div class="container-center">
    <div class="control-panel">
      <div class="tab" routerLink="step" routerLinkActive="active" queryParamsHandling="preserve">Step</div>
      <div class="tab" routerLink="goal" routerLinkActive="active" queryParamsHandling="preserve">Goal</div>
      <div class="tab" routerLink="category" routerLinkActive="active" queryParamsHandling="preserve">Category</div>
      <select [formControl]="stepParamControl">
        <option [ngValue]="stepParam.all">All</option>
        <option [ngValue]="stepParam.active">Active</option>
        <option [ngValue]="stepParam.deleted">Deleted</option>
      </select>
    </div>
    <div class="main-content">
      <router-outlet/>
    </div>
  </div>
</div>
