.label-data {
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  overflow: hidden;
}

.label-item {
  white-space: nowrap;
  padding: 0.2rem 0.5rem;

  &:not(:first-child):not(:last-child) {
    border-block: 1px solid #777888;
  }
}
