.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  overflow-y: auto;
  height: 100%;
}

.foot-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

// Disable router-outlet element for css flex
router-outlet {
  display: contents;
}
