<div class="container">
  <router-outlet></router-outlet>
  @if (stepForm) {
    <div class="foot-form" [formGroup]="stepForm">
      <select formControlName="userId">
        @for (user of users; track user.userId) {
          <option [ngValue]="user.userId">{{ user.userName }}</option>
        }
      </select>
      <input type="date" formControlName="completeOn">
      <select formControlName="hours">
        @for (hour of hourOptions; track hour) {
          <option [ngValue]="hour">{{ hour }}</option>
        }
      </select>
      <select formControlName="minutes">
        @for (minute of minuteOptions; track minute) {
          <option [ngValue]="minute">{{ minute }}</option>
        }
      </select>
      <select formControlName="categoryId">
        @for (category of categories; track category.id) {
          <option [ngValue]="category.id">{{ category.name }}</option>
        }
      </select>
      <select formControlName="goalId">
        <option [ngValue]="0">-- None --</option>
        @for (goal of goals; track goal.id) {
          <option [ngValue]="goal.id">{{ goal.name }}</option>
        }
      </select>
      <textarea formControlName="description"></textarea>
      <button type="button" (click)="createStep()">Submit</button>
    </div>
  }
</div>

