.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  overflow-y: auto;
  height: 100%;
}

.foot-form {
  border: 1px solid #ccc;
  background-color: #eeeeee;
  box-shadow: 0 -0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  padding: 1rem;

  .fields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .field-row {
      display: flex;
      flex-direction: row;
      gap: 1.2rem;

      .field {
        display: inline-flex;
        gap: 0.25rem;

        &.textarea-row {
          flex-grow: 1;

          textarea {
            width: 100%;
          }
        }

        fa-icon {
          &.center {
            align-self: center;
          }

          &.start {
            align-self: flex-start;
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.2rem solid #777888;
      border-radius: 2rem;
      height: 4rem;
      width: 4rem;
      font-size: 1rem;
      background-color: darkseagreen;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      will-change: transform;

      &:hover:not(:disabled) {
        transform: scale(1.1);
        box-shadow: 0 8px 16px rgba(0,0,0,0.3);
      }

      &:disabled {
        background-color: #eee;
        border-color: #ccc;
      }
    }
  }
}

// Disable router-outlet element for css
router-outlet {
  display: contents;
}

// Disable sg-select for css
sg-select {
  display: contents;
}
