<div class="groups">
  @for (goalGroup of goalGroups$ | async; track goalGroup.project?.id) {
    <div class="group" [style.background]="getTransparentColor(goalGroup)" [style.border-color]="getColor(goalGroup)" [routerLink]="goalGroup.project?.name ?? 'null'">
      <div class="group-title">{{ goalGroup.project?.name ?? 'No project' }} | start: {{ goalGroup.project?.startDate }} | end: {{ goalGroup.project?.endDate }} | status: {{ goalGroup.project?.status }}</div>
      <div class="goal-list">
        @for (goal of goalGroup.goals; track goal.id) {
          <sg-label [labelData]="getLabelData(goal)"></sg-label>
        } @empty {
          <li>There are no goals.</li>
        }
      </div>
    </div>
  } @empty {
    <li>There are no goals groups.</li>
  }
</div>
