.goal {
  display: flex;
  gap: 1rem;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.group {
  border-radius: 0.5rem;
  border-width: 2px;
  border-style: solid;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}

.group-title {
  font-size: 1.2rem;
  text-decoration: underline;
}
