<div class="container">
  <router-outlet></router-outlet>
  @if (goalForm) {
    <div class="foot-form" [formGroup]="goalForm">
      <div class="fields">
        <div class="field-row">
          <div class="field">
            <fa-icon class="center" [icon]="goalIcon" />
            <input [formControl]="goalForm.controls.name"/>
          </div>
          <div class="field">
            <fa-icon class="center" [icon]="projectIcon" />
            <sg-select [formControl]="goalForm.controls.projectId" [items]="projectOptions"></sg-select>
          </div>
        </div>
        <div class="field-row">
          <div class="field textarea-row">
            <fa-icon class="start" [icon]="descriptionIcon" />
            <textarea [formControl]="goalForm.controls.description"></textarea>
          </div>
        </div>
      </div>
      <div class="fields">
        @if (goalForm.controls.project) {
          @let projectForm = goalForm.controls.project;
          <div class="field-row" [formGroup]="projectForm">
            <div class="field">
              <fa-icon class="center" [icon]="colorIcon" />
              <input type="color" [formControl]="projectForm.controls.color"/>
            </div>
            <div class="field">
              <fa-icon class="center" [icon]="projectIcon" />
              <input [formControl]="projectForm.controls.name"/>
            </div>
          </div>
          <div class="field-row">
            <div class="field textarea-row">
              <fa-icon class="start" [icon]="descriptionIcon" />
              <textarea [formControl]="projectForm.controls.description"></textarea>
            </div>
          </div>
        }
      </div>
      <div class="buttons">
        <button type="button" (click)="createGoal()" [disabled]="goalForm.invalid">
          <sg-submit-button></sg-submit-button>
        </button>
      </div>
    </div>
  }
</div>
