<div class="container">
  <router-outlet></router-outlet>
  @if (formReady) {
    <div class="foot-form" [formGroup]="formGroup">
      <input formControlName="name" />
      <select formControlName="projectId">
        @for (project of projects; track project?.id) {
          <option [value]="project.id">{{ project.name }}</option>
        }
      </select>
      <textarea formControlName="description"></textarea>
      <button type="button" (click)="createGoal()">Submit</button>
    </div>
  }
</div>
